{%include "aheader.html" %}

    
    <!-- ################# Our Team Starts Here#######################--->

      <!--  ************************* Page Title Starts Here ************************** -->
               <div class="page-nav no-margin row">
                   <div class="container">
                       <div class="row">
                           <h2>Performance Evaluations</h2>
                           <ul>
                               <li> <a href="#"><i class="fas fa-home"></i> Home</a></li>
                               <li><i class="fas fa-angle-double-right"></i> ML Metrics</li>
                           </ul>
                       </div>
                   </div>
               </div>

    



<table>

    <tr><td><img src="{{ url_for('static',filename='accuracy.png')}}" alt=""></td>

    <td><img src="{{ url_for('static',filename='precision.png')}}" alt=""></td>
    </tr>
    <tr><td><img src="{{ url_for('static',filename='recall.png')}}" alt=""></td>

    <td><img src="{{ url_for('static',filename='f1score.png')}}" alt=""></td>


    </tr>
<tr><td><img src="{{ url_for('static',filename='cm.png')}}" alt=""></td>
    </tr>
</table>


<br>




  <br>
       

        <!-- ######## Gallery End ####### -->
{%include "footer.html" %}
    

   
    <!-- ################# Footer Starts Here#######################--->

